.elements__card-button {
  background-image: url(../../images/white-heart.svg);
  width: 21px;
  height: 19px;
  object-fit: contain;
  background-repeat: no-repeat;
  background-position: center;
  align-self: center;
  border: 0;
  background-color: #ffffff;
  cursor: pointer;
}

.elements__card-button:hover {
  opacity: .5;
  transition: ease .5s;
}