.modal__form {
  padding: 34px 36px 36.5px;
  display: flex;
  flex-direction: column;
  align-content: center;
  border-radius: 10px;
  box-sizing: border-box;
}

@media screen and (max-width: 670px) {
  .modal__form {
    width: 282px;
    padding: 25px 22px;
  }
}