.header__logo {
  max-width: 173px;
  max-height: 33px;
  margin-bottom: 40px;
}

@media screen and (max-width: 500px) {
  .header__logo {
    max-width: 126px;
    max-height: 24px;
    margin-bottom: 31px;
    margin-left: 27px;
  }
}