.modal__close-button {
  background-image: url(../../images/modal-Close-Icon.svg);
  background-position: center;
  background-repeat: no-repeat;
  background-color: transparent;
  cursor: pointer;
  width: 40px;
  height: 40px;
  position: absolute;
  top: -40px;
  right: -40px;
  padding: 0;
  box-sizing: border-box;
  border: 0;
}

.modal__close-button:hover {
  opacity: .6;
  transition: ease .5s;
}

@media screen and (max-width: 670px) {
  .modal__close-button {
    width: 26px;
    height: 26px;
    right: 10px;
  }
}