.profile__description {
  width: 47.16%;
  font-family: 'Inter', sans-serif;
  margin: 22px auto 21px 0;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
}

@media screen and (max-width: 960px) {
  .profile__description {
    width: 49.16%;
  }
}

@media screen and (max-width: 800px) {
  .profile__description {
    width: 55%;
    margin: 22px auto;
  }
}

@media screen and (max-width: 670px) {
  .profile__description {
    width: 100%;
    margin: 26.25px auto 36px;
    justify-content: center;
  }
}