.elements__card {
  position: relative;
  display: flex;
  flex-direction: column;
  border-radius: 10px;
  background-color: #ffffff;
}
@media screen and (max-width: 670px) {
  .elements__card {
    margin-bottom: 20px;
  }
  .elements__card:last-of-type {
    margin-bottom: 0;
  }
}