.profile__image {
  width: 120px;
  height: 120px;
  background-image: url(../../images/profile-image.png);
  background-size: cover;
  background-position: center;
  align-self: center;
  border-radius: 50%;
  margin-right: 30px;
}

@media screen and (max-width: 960px) {
  .profile__image {
    margin-right: 15px;
  }
}

@media screen and (max-width: 800px) {
  .profile__image {
    margin-right: 9px;
  }
}

@media screen and (max-width: 670px) {
  .profile__image {
    margin: 0;
  }
}
