.footer__copyrights {
  margin: 0;
  padding: 0;
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 1.08;
  color: #545454;
}

@media screen and (max-width: 670px) {
  .footer__copyrights {
    font-size: 14px;
    line-height: 17px;
  }  
}