.page__wrapper {
  position: relative;
  font-family: 'Inter', sans-serif;
  max-width: 880px;
  min-width: 320px;
}

@media screen and (max-width: 960px) {
  .page__wrapper  {
    max-width: 88.5%;
  }
}


@media screen and (max-width: 800px) {
  .page__wrapper  {
    max-width: 86.5%;
  }
}

@media screen and (max-width: 670px) {
  .page__wrapper  {
    max-width: 320px;
  }
}
