.page__wrapper {
  font-family: 'Inter', sans-serif;
  margin: 0 auto;
  max-width: 880px;
  min-width: 320px;
  padding-top: 45px;
  padding-bottom: 60px;
  box-sizing: border-box;
  color: #ffffff;
}

/* @media screen and (max-width: 1150px) {
  .page__wrapper  {
    max-width: 100%;
  }
} */
