.page__wrapper {
  position: relative;
  font-family: 'Inter', sans-serif;
  max-width: 880px;
  min-width: 320px;
}

@media screen and (max-width: 980px) {
  .page__wrapper  {
    max-width: 700px;
  }
}

@media screen and (max-width: 760px) {
  .page__wrapper  {
    max-width: 500px;
  }
}

@media screen and (max-width: 540px) {
  .page__wrapper  {
    max-width: 320px;
  }
}
